// Règles
@import "./assets/styleRules/styleRules";

#mainContainer{
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(transparent, white 90vh),
    url("./assets/media/images/bkcg-villa.jpg"); */
    background: linear-gradient(#202020 , white 90vh);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $mainFont;
}